<div class="container">

  <h4>Url shortener</h4>
  <form action="/url" method="post">
    <input type="text" name="long_url" value="Enter your url here">
    <input type="submit" value="submit">
  </form>
</div>